RunJup_ArcGIS-clone.bat
Spyder_ENV859-py3.bat
README_old.md
Spy_BroadcastPoints.py
Jup_*
Jup_ArcGis-clone.bat
Jup_Broadcast.ipynb
Jup_GeoPandas.ipynb
Jup_gis.bat
Jup_Near.ipynb
Jup_PTown.ipynb
Jup_TEST_basemap.bat
 
